@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url(http://font.download);
@import url(http://font.download);

body{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


